--
-- PostgreSQL database dump
--

\restrict AwonOhWdghZcpCwMqotBbRPy8pUMRflw8ZpwyR3KQga7BHky8xTByDALqwPdAIh

-- Dumped from database version 17.8 (130b160)
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: neon_auth; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

CREATE SCHEMA neon_auth;


ALTER SCHEMA neon_auth OWNER TO neondb_owner;

--
-- Name: DocumentStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."DocumentStatus" AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'POSTED',
    'PAID',
    'CANCELLED',
    'ARCHIVED'
);


ALTER TYPE public."DocumentStatus" OWNER TO neondb_owner;

--
-- Name: ExpenseStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."ExpenseStatus" AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."ExpenseStatus" OWNER TO neondb_owner;

--
-- Name: MilestoneStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."MilestoneStatus" AS ENUM (
    'PENDING',
    'IN_PROGRESS',
    'DONE',
    'CANCELLED'
);


ALTER TYPE public."MilestoneStatus" OWNER TO neondb_owner;

--
-- Name: ProjectStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."ProjectStatus" AS ENUM (
    'PLANNING',
    'ACTIVE',
    'ON_HOLD',
    'COMPLETED',
    'ARCHIVED'
);


ALTER TYPE public."ProjectStatus" OWNER TO neondb_owner;

--
-- Name: ProjectType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."ProjectType" AS ENUM (
    'FIXED_PRICE',
    'TIME_AND_MATERIALS',
    'RETAINER'
);


ALTER TYPE public."ProjectType" OWNER TO neondb_owner;

--
-- Name: TaskPriority; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."TaskPriority" AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'CRITICAL'
);


ALTER TYPE public."TaskPriority" OWNER TO neondb_owner;

--
-- Name: TaskState; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."TaskState" AS ENUM (
    'NEW',
    'IN_PROGRESS',
    'BLOCKED',
    'DONE'
);


ALTER TYPE public."TaskState" OWNER TO neondb_owner;

--
-- Name: TimesheetStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."TimesheetStatus" AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."TimesheetStatus" OWNER TO neondb_owner;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'PROJECT_MANAGER',
    'TEAM_MEMBER',
    'FINANCE',
    'VIEWER'
);


ALTER TYPE public."UserRole" OWNER TO neondb_owner;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


ALTER TYPE public."UserStatus" OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users_sync; Type: TABLE; Schema: neon_auth; Owner: neondb_owner
--

CREATE TABLE neon_auth.users_sync (
    raw_json jsonb NOT NULL,
    id text GENERATED ALWAYS AS ((raw_json ->> 'id'::text)) STORED NOT NULL,
    name text GENERATED ALWAYS AS ((raw_json ->> 'display_name'::text)) STORED,
    email text GENERATED ALWAYS AS ((raw_json ->> 'primary_email'::text)) STORED,
    created_at timestamp with time zone GENERATED ALWAYS AS (to_timestamp((trunc((((raw_json ->> 'signed_up_at_millis'::text))::bigint)::double precision) / (1000)::double precision))) STORED,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE neon_auth.users_sync OWNER TO neondb_owner;

--
-- Name: Attachment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Attachment" (
    id text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text NOT NULL,
    "projectId" text,
    "taskId" text,
    "timesheetId" text,
    "expenseId" text,
    "invoiceId" text,
    "billId" text,
    "fileName" text NOT NULL,
    "fileSize" integer NOT NULL,
    "mimeType" text NOT NULL,
    "s3Url" text NOT NULL,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Attachment" OWNER TO neondb_owner;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    action text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text NOT NULL,
    "userId" text,
    details text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO neondb_owner;

--
-- Name: BillLine; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."BillLine" (
    id text NOT NULL,
    "billId" text NOT NULL,
    description text NOT NULL,
    quantity numeric(10,2) NOT NULL,
    "unitPrice" numeric(15,2) NOT NULL,
    amount numeric(15,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."BillLine" OWNER TO neondb_owner;

--
-- Name: Comment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Comment" (
    id text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text NOT NULL,
    "projectId" text,
    "taskId" text,
    "timesheetId" text,
    "expenseId" text,
    "invoiceId" text,
    "billId" text,
    "authorId" text NOT NULL,
    content text NOT NULL,
    mentions text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Comment" OWNER TO neondb_owner;

--
-- Name: CustomerInvoice; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."CustomerInvoice" (
    id text NOT NULL,
    number text NOT NULL,
    "projectId" text,
    "sourceSoId" text,
    status public."DocumentStatus" DEFAULT 'DRAFT'::public."DocumentStatus" NOT NULL,
    "totalAmount" numeric(15,2) NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    "dueDate" timestamp(3) without time zone,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CustomerInvoice" OWNER TO neondb_owner;

--
-- Name: Expense; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Expense" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "projectId" text NOT NULL,
    amount numeric(15,2) NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    category text NOT NULL,
    billable boolean DEFAULT false NOT NULL,
    reimbursed boolean DEFAULT false NOT NULL,
    "receiptUrl" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    status public."ExpenseStatus" DEFAULT 'DRAFT'::public."ExpenseStatus" NOT NULL
);


ALTER TABLE public."Expense" OWNER TO neondb_owner;

--
-- Name: InvoiceLine; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."InvoiceLine" (
    id text NOT NULL,
    "invoiceId" text NOT NULL,
    "timesheetId" text,
    "expenseId" text,
    description text NOT NULL,
    quantity numeric(10,2) NOT NULL,
    "unitPrice" numeric(15,2) NOT NULL,
    amount numeric(15,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."InvoiceLine" OWNER TO neondb_owner;

--
-- Name: Milestone; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Milestone" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    name text NOT NULL,
    description text,
    status public."MilestoneStatus" DEFAULT 'PENDING'::public."MilestoneStatus" NOT NULL,
    amount numeric(15,2) NOT NULL,
    invoiced boolean DEFAULT false NOT NULL,
    "invoiceId" text,
    "dueDate" timestamp(3) without time zone,
    "completedDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Milestone" OWNER TO neondb_owner;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    sku text NOT NULL,
    name text NOT NULL,
    description text,
    "unitPrice" numeric(15,2) NOT NULL,
    type text DEFAULT 'SERVICE'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO neondb_owner;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Project" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "customerId" text,
    "projectManagerId" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    "budgetAmount" numeric(15,2),
    currency text DEFAULT 'USD'::text NOT NULL,
    "billableFlag" boolean DEFAULT true NOT NULL,
    "defaultHourlyRate" numeric(10,2),
    status public."ProjectStatus" DEFAULT 'PLANNING'::public."ProjectStatus" NOT NULL,
    "projectType" public."ProjectType" DEFAULT 'TIME_AND_MATERIALS'::public."ProjectType" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Project" OWNER TO neondb_owner;

--
-- Name: ProjectTeamMember; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ProjectTeamMember" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "userId" text NOT NULL,
    role text DEFAULT 'TEAM_MEMBER'::text NOT NULL,
    "addedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProjectTeamMember" OWNER TO neondb_owner;

--
-- Name: PurchaseOrder; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."PurchaseOrder" (
    id text NOT NULL,
    number text NOT NULL,
    "projectId" text,
    "vendorId" text,
    "vendorName" text,
    status public."DocumentStatus" DEFAULT 'DRAFT'::public."DocumentStatus" NOT NULL,
    "totalAmount" numeric(15,2) NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PurchaseOrder" OWNER TO neondb_owner;

--
-- Name: PurchaseOrderLine; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."PurchaseOrderLine" (
    id text NOT NULL,
    "poId" text NOT NULL,
    "productId" text,
    description text NOT NULL,
    quantity numeric(10,2) NOT NULL,
    "unitPrice" numeric(15,2) NOT NULL,
    amount numeric(15,2) NOT NULL
);


ALTER TABLE public."PurchaseOrderLine" OWNER TO neondb_owner;

--
-- Name: SalesOrder; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."SalesOrder" (
    id text NOT NULL,
    number text NOT NULL,
    "projectId" text,
    "customerId" text,
    "customerName" text,
    status public."DocumentStatus" DEFAULT 'DRAFT'::public."DocumentStatus" NOT NULL,
    "totalAmount" numeric(15,2) NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SalesOrder" OWNER TO neondb_owner;

--
-- Name: SalesOrderLine; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."SalesOrderLine" (
    id text NOT NULL,
    "soId" text NOT NULL,
    "productId" text,
    description text NOT NULL,
    quantity numeric(10,2) NOT NULL,
    "unitPrice" numeric(15,2) NOT NULL,
    amount numeric(15,2) NOT NULL
);


ALTER TABLE public."SalesOrderLine" OWNER TO neondb_owner;

--
-- Name: Task; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Task" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    title text NOT NULL,
    description text,
    state public."TaskState" DEFAULT 'NEW'::public."TaskState" NOT NULL,
    priority public."TaskPriority" DEFAULT 'MEDIUM'::public."TaskPriority" NOT NULL,
    "assigneeId" text,
    "estimateHours" numeric(10,2),
    "dueDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Task" OWNER TO neondb_owner;

--
-- Name: Timesheet; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Timesheet" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "projectId" text NOT NULL,
    "taskId" text,
    "workDate" timestamp(3) without time zone NOT NULL,
    "durationHours" numeric(10,2) NOT NULL,
    "hourlyRate" numeric(10,2) NOT NULL,
    amount numeric(15,2) NOT NULL,
    billable boolean DEFAULT false NOT NULL,
    notes text,
    status public."TimesheetStatus" DEFAULT 'DRAFT'::public."TimesheetStatus" NOT NULL,
    invoiced boolean DEFAULT false NOT NULL,
    "invoiceId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Timesheet" OWNER TO neondb_owner;

--
-- Name: User; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "fullName" text NOT NULL,
    role public."UserRole" DEFAULT 'TEAM_MEMBER'::public."UserRole" NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "defaultHourlyRate" numeric(10,2) DEFAULT 50 NOT NULL,
    timezone text DEFAULT 'UTC'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO neondb_owner;

--
-- Name: VendorBill; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."VendorBill" (
    id text NOT NULL,
    number text NOT NULL,
    "projectId" text,
    "sourcePo" text,
    "vendorId" text,
    "vendorName" text,
    status public."DocumentStatus" DEFAULT 'DRAFT'::public."DocumentStatus" NOT NULL,
    "totalAmount" numeric(15,2) NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    "dueDate" timestamp(3) without time zone,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VendorBill" OWNER TO neondb_owner;

--
-- Data for Name: users_sync; Type: TABLE DATA; Schema: neon_auth; Owner: neondb_owner
--

COPY neon_auth.users_sync (raw_json, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: Attachment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Attachment" (id, "entityType", "entityId", "projectId", "taskId", "timesheetId", "expenseId", "invoiceId", "billId", "fileName", "fileSize", "mimeType", "s3Url", "createdById", "createdAt") FROM stdin;
\.


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."AuditLog" (id, action, "entityType", "entityId", "userId", details, "createdAt") FROM stdin;
\.


--
-- Data for Name: BillLine; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."BillLine" (id, "billId", description, quantity, "unitPrice", amount, "createdAt") FROM stdin;
\.


--
-- Data for Name: Comment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Comment" (id, "entityType", "entityId", "projectId", "taskId", "timesheetId", "expenseId", "invoiceId", "billId", "authorId", content, mentions, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CustomerInvoice; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."CustomerInvoice" (id, number, "projectId", "sourceSoId", status, "totalAmount", currency, "dueDate", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Expense; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Expense" (id, "userId", "projectId", amount, currency, date, category, billable, reimbursed, "receiptUrl", notes, "createdAt", "updatedAt", status) FROM stdin;
\.


--
-- Data for Name: InvoiceLine; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."InvoiceLine" (id, "invoiceId", "timesheetId", "expenseId", description, quantity, "unitPrice", amount, "createdAt") FROM stdin;
\.


--
-- Data for Name: Milestone; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Milestone" (id, "projectId", name, description, status, amount, invoiced, "invoiceId", "dueDate", "completedDate", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Product" (id, sku, name, description, "unitPrice", type, "createdAt", "updatedAt") FROM stdin;
cmnbe5dfx000gc3nmo2steeu3	WEB-DESIGN	Website Design & Development	Full website design and development service	5000.00	SERVICE	2026-03-29 06:41:37.102	2026-03-29 06:41:37.102
\.


--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Project" (id, code, name, description, "customerId", "projectManagerId", "startDate", "endDate", "budgetAmount", currency, "billableFlag", "defaultHourlyRate", status, "projectType", "createdAt", "updatedAt") FROM stdin;
cmnbe5a8k0005c3nmld0wcs7u	ACME-001	ACME Website Redesign	Complete redesign of ACME Corp website	\N	cmnbe597r0001c3nmy9zklw8n	2025-01-01 00:00:00	2025-06-30 00:00:00	150000.00	USD	t	60.00	ACTIVE	FIXED_PRICE	2026-03-29 06:41:32.946	2026-03-29 06:41:32.946
\.


--
-- Data for Name: ProjectTeamMember; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."ProjectTeamMember" (id, "projectId", "userId", role, "addedAt") FROM stdin;
cmnbe5apk0007c3nms8upg3xq	cmnbe5a8k0005c3nmld0wcs7u	cmnbe59wu0003c3nmukslzwpg	DEVELOPER	2026-03-29 06:41:33.56
\.


--
-- Data for Name: PurchaseOrder; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."PurchaseOrder" (id, number, "projectId", "vendorId", "vendorName", status, "totalAmount", currency, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PurchaseOrderLine; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."PurchaseOrderLine" (id, "poId", "productId", description, quantity, "unitPrice", amount) FROM stdin;
\.


--
-- Data for Name: SalesOrder; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."SalesOrder" (id, number, "projectId", "customerId", "customerName", status, "totalAmount", currency, "createdAt", "updatedAt") FROM stdin;
cmnbe5e6n000ic3nmk7vh3pvm	SO-2025-001	cmnbe5a8k0005c3nmld0wcs7u	ACME-CORP	ACME Corporation	POSTED	150000.00	USD	2026-03-29 06:41:38.064	2026-03-29 06:41:38.064
\.


--
-- Data for Name: SalesOrderLine; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."SalesOrderLine" (id, "soId", "productId", description, quantity, "unitPrice", amount) FROM stdin;
cmnbe5esa000kc3nm1ss43m03	cmnbe5e6n000ic3nmk7vh3pvm	cmnbe5dfx000gc3nmo2steeu3	Website Redesign - 150 hours @ $1000/day	30.00	5000.00	150000.00
\.


--
-- Data for Name: Task; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Timesheet; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: VendorBill; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."VendorBill" (id, number, "projectId", "sourcePo", "vendorId", "vendorName", status, "totalAmount", currency, "dueDate", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Name: users_sync users_sync_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neondb_owner
--

ALTER TABLE ONLY neon_auth.users_sync
    ADD CONSTRAINT users_sync_pkey PRIMARY KEY (id);


--
-- Name: Attachment Attachment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Attachment"
    ADD CONSTRAINT "Attachment_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: BillLine BillLine_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."BillLine"
    ADD CONSTRAINT "BillLine_pkey" PRIMARY KEY (id);


--
-- Name: Comment Comment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_pkey" PRIMARY KEY (id);


--
-- Name: CustomerInvoice CustomerInvoice_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CustomerInvoice"
    ADD CONSTRAINT "CustomerInvoice_pkey" PRIMARY KEY (id);


--
-- Name: Expense Expense_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Expense"
    ADD CONSTRAINT "Expense_pkey" PRIMARY KEY (id);


--
-- Name: InvoiceLine InvoiceLine_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."InvoiceLine"
    ADD CONSTRAINT "InvoiceLine_pkey" PRIMARY KEY (id);


--
-- Name: Milestone Milestone_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Milestone"
    ADD CONSTRAINT "Milestone_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: ProjectTeamMember ProjectTeamMember_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProjectTeamMember"
    ADD CONSTRAINT "ProjectTeamMember_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: PurchaseOrderLine PurchaseOrderLine_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PurchaseOrderLine"
    ADD CONSTRAINT "PurchaseOrderLine_pkey" PRIMARY KEY (id);


--
-- Name: PurchaseOrder PurchaseOrder_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PurchaseOrder"
    ADD CONSTRAINT "PurchaseOrder_pkey" PRIMARY KEY (id);


--
-- Name: SalesOrderLine SalesOrderLine_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SalesOrderLine"
    ADD CONSTRAINT "SalesOrderLine_pkey" PRIMARY KEY (id);


--
-- Name: SalesOrder SalesOrder_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SalesOrder"
    ADD CONSTRAINT "SalesOrder_pkey" PRIMARY KEY (id);


--
-- Name: Task Task_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_pkey" PRIMARY KEY (id);


--
-- Name: Timesheet Timesheet_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Timesheet"
    ADD CONSTRAINT "Timesheet_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: VendorBill VendorBill_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."VendorBill"
    ADD CONSTRAINT "VendorBill_pkey" PRIMARY KEY (id);


--
-- Name: users_sync_deleted_at_idx; Type: INDEX; Schema: neon_auth; Owner: neondb_owner
--

CREATE INDEX users_sync_deleted_at_idx ON neon_auth.users_sync USING btree (deleted_at);


--
-- Name: Attachment_createdById_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Attachment_createdById_idx" ON public."Attachment" USING btree ("createdById");


--
-- Name: Attachment_entityId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Attachment_entityId_idx" ON public."Attachment" USING btree ("entityId");


--
-- Name: Attachment_entityType_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Attachment_entityType_idx" ON public."Attachment" USING btree ("entityType");


--
-- Name: Attachment_projectId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Attachment_projectId_idx" ON public."Attachment" USING btree ("projectId");


--
-- Name: Attachment_taskId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Attachment_taskId_idx" ON public."Attachment" USING btree ("taskId");


--
-- Name: AuditLog_action_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AuditLog_action_idx" ON public."AuditLog" USING btree (action);


--
-- Name: AuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AuditLog_createdAt_idx" ON public."AuditLog" USING btree ("createdAt");


--
-- Name: AuditLog_entityId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AuditLog_entityId_idx" ON public."AuditLog" USING btree ("entityId");


--
-- Name: AuditLog_entityType_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AuditLog_entityType_idx" ON public."AuditLog" USING btree ("entityType");


--
-- Name: BillLine_billId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "BillLine_billId_idx" ON public."BillLine" USING btree ("billId");


--
-- Name: Comment_authorId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Comment_authorId_idx" ON public."Comment" USING btree ("authorId");


--
-- Name: Comment_entityId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Comment_entityId_idx" ON public."Comment" USING btree ("entityId");


--
-- Name: Comment_entityType_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Comment_entityType_idx" ON public."Comment" USING btree ("entityType");


--
-- Name: Comment_projectId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Comment_projectId_idx" ON public."Comment" USING btree ("projectId");


--
-- Name: Comment_taskId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Comment_taskId_idx" ON public."Comment" USING btree ("taskId");


--
-- Name: CustomerInvoice_number_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "CustomerInvoice_number_key" ON public."CustomerInvoice" USING btree (number);


--
-- Name: CustomerInvoice_projectId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "CustomerInvoice_projectId_idx" ON public."CustomerInvoice" USING btree ("projectId");


--
-- Name: CustomerInvoice_sourceSoId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "CustomerInvoice_sourceSoId_idx" ON public."CustomerInvoice" USING btree ("sourceSoId");


--
-- Name: CustomerInvoice_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "CustomerInvoice_status_idx" ON public."CustomerInvoice" USING btree (status);


--
-- Name: Expense_billable_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Expense_billable_idx" ON public."Expense" USING btree (billable);


--
-- Name: Expense_projectId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Expense_projectId_idx" ON public."Expense" USING btree ("projectId");


--
-- Name: Expense_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Expense_status_idx" ON public."Expense" USING btree (status);


--
-- Name: Expense_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Expense_userId_idx" ON public."Expense" USING btree ("userId");


--
-- Name: InvoiceLine_expenseId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "InvoiceLine_expenseId_idx" ON public."InvoiceLine" USING btree ("expenseId");


--
-- Name: InvoiceLine_invoiceId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "InvoiceLine_invoiceId_idx" ON public."InvoiceLine" USING btree ("invoiceId");


--
-- Name: InvoiceLine_timesheetId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "InvoiceLine_timesheetId_idx" ON public."InvoiceLine" USING btree ("timesheetId");


--
-- Name: Milestone_projectId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Milestone_projectId_idx" ON public."Milestone" USING btree ("projectId");


--
-- Name: Milestone_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Milestone_status_idx" ON public."Milestone" USING btree (status);


--
-- Name: Product_sku_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Product_sku_idx" ON public."Product" USING btree (sku);


--
-- Name: Product_sku_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Product_sku_key" ON public."Product" USING btree (sku);


--
-- Name: ProjectTeamMember_projectId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ProjectTeamMember_projectId_idx" ON public."ProjectTeamMember" USING btree ("projectId");


--
-- Name: ProjectTeamMember_projectId_userId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "ProjectTeamMember_projectId_userId_key" ON public."ProjectTeamMember" USING btree ("projectId", "userId");


--
-- Name: ProjectTeamMember_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ProjectTeamMember_userId_idx" ON public."ProjectTeamMember" USING btree ("userId");


--
-- Name: Project_code_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Project_code_idx" ON public."Project" USING btree (code);


--
-- Name: Project_code_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Project_code_key" ON public."Project" USING btree (code);


--
-- Name: Project_projectManagerId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Project_projectManagerId_idx" ON public."Project" USING btree ("projectManagerId");


--
-- Name: Project_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Project_status_idx" ON public."Project" USING btree (status);


--
-- Name: PurchaseOrderLine_poId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "PurchaseOrderLine_poId_idx" ON public."PurchaseOrderLine" USING btree ("poId");


--
-- Name: PurchaseOrderLine_productId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "PurchaseOrderLine_productId_idx" ON public."PurchaseOrderLine" USING btree ("productId");


--
-- Name: PurchaseOrder_number_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "PurchaseOrder_number_key" ON public."PurchaseOrder" USING btree (number);


--
-- Name: PurchaseOrder_projectId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "PurchaseOrder_projectId_idx" ON public."PurchaseOrder" USING btree ("projectId");


--
-- Name: PurchaseOrder_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "PurchaseOrder_status_idx" ON public."PurchaseOrder" USING btree (status);


--
-- Name: SalesOrderLine_productId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "SalesOrderLine_productId_idx" ON public."SalesOrderLine" USING btree ("productId");


--
-- Name: SalesOrderLine_soId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "SalesOrderLine_soId_idx" ON public."SalesOrderLine" USING btree ("soId");


--
-- Name: SalesOrder_number_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "SalesOrder_number_key" ON public."SalesOrder" USING btree (number);


--
-- Name: SalesOrder_projectId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "SalesOrder_projectId_idx" ON public."SalesOrder" USING btree ("projectId");


--
-- Name: SalesOrder_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "SalesOrder_status_idx" ON public."SalesOrder" USING btree (status);


--
-- Name: Task_assigneeId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Task_assigneeId_idx" ON public."Task" USING btree ("assigneeId");


--
-- Name: Task_projectId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Task_projectId_idx" ON public."Task" USING btree ("projectId");


--
-- Name: Task_state_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Task_state_idx" ON public."Task" USING btree (state);


--
-- Name: Timesheet_invoiced_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Timesheet_invoiced_idx" ON public."Timesheet" USING btree (invoiced);


--
-- Name: Timesheet_projectId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Timesheet_projectId_idx" ON public."Timesheet" USING btree ("projectId");


--
-- Name: Timesheet_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Timesheet_status_idx" ON public."Timesheet" USING btree (status);


--
-- Name: Timesheet_taskId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Timesheet_taskId_idx" ON public."Timesheet" USING btree ("taskId");


--
-- Name: Timesheet_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Timesheet_userId_idx" ON public."Timesheet" USING btree ("userId");


--
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_role_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "User_role_idx" ON public."User" USING btree (role);


--
-- Name: VendorBill_number_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "VendorBill_number_key" ON public."VendorBill" USING btree (number);


--
-- Name: VendorBill_projectId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "VendorBill_projectId_idx" ON public."VendorBill" USING btree ("projectId");


--
-- Name: VendorBill_sourcePo_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "VendorBill_sourcePo_idx" ON public."VendorBill" USING btree ("sourcePo");


--
-- Name: VendorBill_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "VendorBill_status_idx" ON public."VendorBill" USING btree (status);


--
-- Name: Attachment Attachment_billId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Attachment"
    ADD CONSTRAINT "Attachment_billId_fkey" FOREIGN KEY ("billId") REFERENCES public."VendorBill"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Attachment Attachment_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Attachment"
    ADD CONSTRAINT "Attachment_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Attachment Attachment_expenseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Attachment"
    ADD CONSTRAINT "Attachment_expenseId_fkey" FOREIGN KEY ("expenseId") REFERENCES public."Expense"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Attachment Attachment_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Attachment"
    ADD CONSTRAINT "Attachment_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."CustomerInvoice"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Attachment Attachment_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Attachment"
    ADD CONSTRAINT "Attachment_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Attachment Attachment_taskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Attachment"
    ADD CONSTRAINT "Attachment_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES public."Task"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Attachment Attachment_timesheetId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Attachment"
    ADD CONSTRAINT "Attachment_timesheetId_fkey" FOREIGN KEY ("timesheetId") REFERENCES public."Timesheet"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: BillLine BillLine_billId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."BillLine"
    ADD CONSTRAINT "BillLine_billId_fkey" FOREIGN KEY ("billId") REFERENCES public."VendorBill"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Comment Comment_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Comment Comment_billId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_billId_fkey" FOREIGN KEY ("billId") REFERENCES public."VendorBill"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Comment Comment_expenseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_expenseId_fkey" FOREIGN KEY ("expenseId") REFERENCES public."Expense"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Comment Comment_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."CustomerInvoice"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Comment Comment_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Comment Comment_taskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES public."Task"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Comment Comment_timesheetId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_timesheetId_fkey" FOREIGN KEY ("timesheetId") REFERENCES public."Timesheet"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CustomerInvoice CustomerInvoice_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CustomerInvoice"
    ADD CONSTRAINT "CustomerInvoice_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CustomerInvoice CustomerInvoice_sourceSoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CustomerInvoice"
    ADD CONSTRAINT "CustomerInvoice_sourceSoId_fkey" FOREIGN KEY ("sourceSoId") REFERENCES public."SalesOrder"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Expense Expense_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Expense"
    ADD CONSTRAINT "Expense_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Expense Expense_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Expense"
    ADD CONSTRAINT "Expense_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InvoiceLine InvoiceLine_expenseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."InvoiceLine"
    ADD CONSTRAINT "InvoiceLine_expenseId_fkey" FOREIGN KEY ("expenseId") REFERENCES public."Expense"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: InvoiceLine InvoiceLine_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."InvoiceLine"
    ADD CONSTRAINT "InvoiceLine_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."CustomerInvoice"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InvoiceLine InvoiceLine_timesheetId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."InvoiceLine"
    ADD CONSTRAINT "InvoiceLine_timesheetId_fkey" FOREIGN KEY ("timesheetId") REFERENCES public."Timesheet"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Milestone Milestone_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Milestone"
    ADD CONSTRAINT "Milestone_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProjectTeamMember ProjectTeamMember_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProjectTeamMember"
    ADD CONSTRAINT "ProjectTeamMember_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProjectTeamMember ProjectTeamMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProjectTeamMember"
    ADD CONSTRAINT "ProjectTeamMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Project Project_projectManagerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_projectManagerId_fkey" FOREIGN KEY ("projectManagerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PurchaseOrderLine PurchaseOrderLine_poId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PurchaseOrderLine"
    ADD CONSTRAINT "PurchaseOrderLine_poId_fkey" FOREIGN KEY ("poId") REFERENCES public."PurchaseOrder"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PurchaseOrderLine PurchaseOrderLine_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PurchaseOrderLine"
    ADD CONSTRAINT "PurchaseOrderLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PurchaseOrder PurchaseOrder_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PurchaseOrder"
    ADD CONSTRAINT "PurchaseOrder_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SalesOrderLine SalesOrderLine_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SalesOrderLine"
    ADD CONSTRAINT "SalesOrderLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SalesOrderLine SalesOrderLine_soId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SalesOrderLine"
    ADD CONSTRAINT "SalesOrderLine_soId_fkey" FOREIGN KEY ("soId") REFERENCES public."SalesOrder"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SalesOrder SalesOrder_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SalesOrder"
    ADD CONSTRAINT "SalesOrder_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Task Task_assigneeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_assigneeId_fkey" FOREIGN KEY ("assigneeId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Task Task_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Timesheet Timesheet_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Timesheet"
    ADD CONSTRAINT "Timesheet_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."CustomerInvoice"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Timesheet Timesheet_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Timesheet"
    ADD CONSTRAINT "Timesheet_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Timesheet Timesheet_taskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Timesheet"
    ADD CONSTRAINT "Timesheet_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES public."Task"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Timesheet Timesheet_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Timesheet"
    ADD CONSTRAINT "Timesheet_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: VendorBill VendorBill_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."VendorBill"
    ADD CONSTRAINT "VendorBill_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: VendorBill VendorBill_sourcePo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."VendorBill"
    ADD CONSTRAINT "VendorBill_sourcePo_fkey" FOREIGN KEY ("sourcePo") REFERENCES public."PurchaseOrder"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict AwonOhWdghZcpCwMqotBbRPy8pUMRflw8ZpwyR3KQga7BHky8xTByDALqwPdAIh

